POSTGRES_DB=realstate
POSTGRES_USER=realstate
POSTGRES_PASSWORD=realstate_password
POSTGRES_PORT=5433

PGADMIN_DEFAULT_EMAIL=admin@realstateapp.com
PGADMIN_DEFAULT_PASSWORD=admin_password
PGADMIN_PORT=5050
